@font-face {
  font-family: NotoSans;
  src: url(./NotoSansCJKtc-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: NotoSans;
}
#fp-nav ul li .fp-tooltip.fp-right {
  font-family: NotoSans;
}

.carousel-item {
  height: 75vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page {
  height: 100%;
  width: 100%;
  font-size: 126px;
  display: -webkit-box;
  /*Safari*/
  display: -moz-box;
  /*Firefox*/
  display: -ms-flexbox;
  /*IE*/
  display: -webkit-flex;
  /*Chrome*/
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#header {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
}

.nav-style {
  height: 12vh;
  padding: 0;
}
.title-logo {
  height: 9vh;
  /*background-color: #fff;*/
}
/*.logo-box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.title-logo:hover {
  background-color: #fff;
}
.logo-box-shadow:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}*/

.nav .nav-item {
  text-align: center;
  vertical-align: middle;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 17.6vh;
}

.collapse-bg {
  background-color: #000;
  width: -webkit-fill-available;
}
.home-title {
  letter-spacing: 0.5;
  font-size: 4em;
  text-align: center;
  line-height: 2;
  font-weight: bolder;
}
.home-text {
  letter-spacing: 0.5;
  font-size: 2em;
  text-align: center;
  line-height: 2;
  vertical-align: middle;
}
.home-icon {
  text-align: center;
  vertical-align: middle;
  line-height: 2;
}
/*.img-01 {
  background-image: url("./images/bg.png");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: antiquewhite;
}
.img-02 {
  background-image: url("./images/bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: antiquewhite;
}*/
.nav-link {
  color: #fff;
  font-size: 2em;
}
.nav-item.hover {
  box-shadow: 0 3px 3px 0 #fff;
}
/*bootstap-change*/

.navbar-brand .mx-auto .navbar-toggler {
  text-align: center;
  vertical-align: middle;
  display: grid;
  justify-content: center;
  align-items: center;
}
.navbar-toggler {
  padding: 0.75rem 0.75rem;
}
.sec-0 {
  background-image: url("./images/bg2.png");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-01-img {
  text-align: center;
  vertical-align: middle;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 7vh;
}
#section1 .fp-tableCell {
  display: unset !important;
}

#section4 .fp-tableCell {
  display: unset !important;
}
#section2 .fp-tableCell {
  display: unset !important;
}

#section3 .fp-tableCell {
  display: unset !important;
}
@media (min-width: 1200px) {
  .sec-navbar-1 {
    margin-bottom: 0;
  }
}
.sec-navbar-1 {
  position: relative;
  padding-left: 1em;

  font-size: 2em;
  padding-top: 6vh;
  height: 10vh;
  margin-bottom: 20vh;
}
@media (max-width: 920px) {
  .sec-navbar-1 {
    height: 20vh;
    margin-bottom: 0;
  }
}
.sec-navbar {
  top: -2.5em;
  position: relative;
  padding-left: 1em;
  /* padding-top: 6vh; */
  font-size: 2em;
}
.sec-01-height {
  min-height: 270px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2em auto;
}
@media (min-width: 768px) {
  .sec-01-height {
    min-height: auto;
  }
}

.sec-01-countent-1 {
  display: grid;
  align-items: center;
  margin: 0 auto;
  font-size: 1.3em;
  padding: 15px 45px 15px 0px !important;
}
/*.sec-01-countent-2 {
  display: grid;
  align-items: center;
  margin: 0 auto;
  font-size: 1.3em;
  padding: 15px 45px 15px 0px !important;
}
/*
.sec-01-border-top {
  border-top: 2px solid #000;
}
.sec-01-border-bottom {
  border-bottom: 2px solid #000;
}*/
.logo {
  margin-top: 3em;
  width: 90%;
  text-align: center;
  vertical-align: middle;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.sec-01 {
  margin-top: 10vh;
}
.sec-01-bg {
  background-color: #c7eeff !important;
}
@media (max-width: 992px) {
  .sec-01 {
    margin-top: 0vh;
  }
}
h2 {
  font-size: 1.5rem !important;
}
.long-title {
  font-size: 1.2em !important;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.s2-height-set {
  padding: 0 0 1em 0;
}
@media (max-width: 768px) {
  .s2-height-set {
    padding: 12vh 0 1em 0;
  }
}
@media (min-width: 576px) {
  .s2-height-set {
    padding: 12vh 0 1em 0;
  }
}

.sec-02 {
  background-color: #cee7f2 !important;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .sec-02 {
    padding-bottom: 2em;
  }
}
@media (min-width: 576px) {
  .sec-02 {
    padding-bottom: 2em;
  }
}
.sec-02 .card-price {
  font-size: 3rem !important;
  margin: 0;
}
.sec-02 .card-price .period {
  font-size: 0.8rem;
  margin: 0;
}
.sec-02 ul li {
  margin-bottom: 1rem;
}
.sec-02 .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}
@media (min-width: 992px) {
  .sec-02 .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .sec-02 .card:hover .btn {
    opacity: 1;
  }
}
.sec-02-h-set {
  height: 531px;
}
@media (max-width: 992px) {
  .sec-02-h-set {
    height: auto;
  }
}
.sec-03 {
  background-color: #ddebf2 !important;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .sec-03 {
    padding-bottom: 2em;
  }
}
@media (min-width: 576px) {
  .sec-03 {
    padding-bottom: 2em;
  }
}
.sec-03-link {
  margin: 1em auto;
  margin: 0.5em auto !important;
  padding: 0 1em;
  font-size: 1.3em;
}
.sec-03-slogan {
  font-weight: bold;
  margin: 0.5em auto !important;
  padding: 0 1em;
  font-size: 1.3em;
}
.sec-03-countent {
  margin: 0.5em auto !important;
  font-size: 1.3em;
  padding: 0 1em;
}
.sec-03-img {
  padding: 5px 5px !important;
}
.sec-04 {
  background-color: #f4f4f4 !important;
}
.sec-04-font {
  font-size: 1.3em;
  margin-top: 16vh;
}
@media (min-width: 768px) {
  .sec-04-font {
    margin-top: 0vh;
  }
}
@media (min-width: 768px) {
  .sec-04-border-left {
    border-left: #000 solid 2px;
  }
}
@media (max-width: 768px) {
  .sec-04-border-left {
    border-left: none;
  }
}
@media (max-width: 768px) {
  .sec-04-border-right {
    border-bottom: #000 solid 2px;
  }
}
@media (min-width: 768px) {
  .sec-04-border-right {
    border-bottom: none;
  }
}
.sec-04-content {
  padding: 1em 15px;
}
@media (min-width: 768px) {
  .sec-04-form {
    padding: 0 2em 0 2em;
  }
}
.sec-04-form {
  padding: 1em 2em 0.5em 1.5em;
}
.form-control {
  background-color: #fff !important;
  border-radius: 0 !important;
  border: none !important;
}
.sec-04-check-bg {
  background-color: #fff;
  padding: 1em 1em 1em 2.25em;
  margin-bottom: 1em;
}
.sec-04-btn {
  background-color: #fff !important;
  border-radius: 2 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.check-mg {
  margin-top: 0.65rem;
}
.t-center {
  text-align: center;
}
.center {
  vertical-align: middle;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.p-0 {
  padding: 0 !important;
}
.border-r {
  border-right: 2px solid #000;
}
.border-b {
  border-bottom: 2px solid #000;
}
.img-map {
  margin: 2em auto !important;
  width: 35%;
}
@media (min-width: 992px) {
  .img-map {
    margin: 7vh auto 0 auto !important;
  }
}

#fp-nav ul li .fp-tooltip {
  color: #000 !important;
  font-size: 1em !important;
  top: 6px !important;
  opacity: 1 !important;
  width: auto !important;
}
#fp-nav ul li {
  width: 0 !important;
  height: 40px !important;
}
.fp-controlArrow {
  top: 70% !important;
}
#fp-nav.fp-right {
  right: 0.8em !important;
}
a .fas {
  color: #000 !important;
}
#fp-nav ul li a span {
  height: 7px !important;
  width: 7px !important;
}
#fp-nav ul li a span:hover {
  height: 9px !important;
  width: 9px !important;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 15px !important;
  width: 15px !important;
}

.fp-slidesNav.fp-bottom ul li a.active span,
.fp-slidesNav.fp-bottom ul li:hover a.active span {
  border-radius: 0 !important;
}
.fp-slidesNav.fp-bottom ul li a span {
  border-radius: 0 !important;
} /*
.fp-slidesNav.fp-bottom ul li a.active span {
  width: 30px;
  margin-left: 4px;
}
.fp-slidesNav.fp-bottom ul li a span:hover {
  width: 30px;
  margin-left: 4px;
}
.fp-slidesNav ul li {
  width: 220px;
} */
.card-body .btn {
  position: absolute;
  /* right: 5px; */
  width: 90%;
  bottom: 20px;
}
@media (max-width: 992px) {
  .card-body .btn {
    position: unset;
    /* right: 5px; */
    width: auto;
  }
}
.l-h-ul {
  line-height: 2.5em;
}
@media (min-width: 768px) {
  .l-h-ul {
    line-height: auto;
  }
}
.fp-slidesNav {
  text-align: center;
}
